.bigTittle--dark{
    @extend .bigTittle;
    color: $Super-dark;
    margin: 80px 0px 100px;
}

.blogGrid__item{
    margin-bottom: 50px;
    p{
        line-height: 23px;
        @include fontface($font-main-reg,14px,$Super-dark,normal);
    }
    &--midDescript{
        margin-top: 25px;
        @include fontface($font-main-reg,14px,$Super-dark,normal);
    }
    span{
        i{
            margin-right: 5px;
        }
        @include fontface($font-main-reg,14px,$sub-infomation,normal);
    }
    // BlogItems__item-post
    &--post{
        img{
            width: 100%;
        }
    }

    //BlogItems__item--qoute
    &--qoute{
        .droidItalic{
            @include fontface($font-main-italic,14px,$Super-dark,normal);
        }
        p{
            color: $Super-dark;
            margin: 0 0 25px 0;
        }
        padding: 40px 30px;
        border: 1px solid $sub-infomation;

        hr{
            display: inline-block;
            width: 15px;
            border: none;
            border-bottom: 1px solid $Super-dark;
            margin: 5px 10px 5px 0px;
        }
    }
}
.btn--blogSpinner{
    @include buttonStyle();
}
.blogGrid{
    img{
        width: 100%;
    }
    &__item{
        width: 370px;
        margin-bottom: 50px;
    }
    a{
        display: block;
        text-decoration: none;
        color:$Super-dark;
    }
}

///////// Reponsive
@media (max-width:1199px){
    .blogGrid{
        &__item{
            width:290px;
        }
    }
}
@media (max-width:991px){
    .blogGrid{
        &__item{
            width:47%;
        }
    }
    .blogGrid__item--qoute {
        padding: 15px;
    }
}
@media (max-width:520px){
    .blogGrid{
        &__item{
            width: 80%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}

