.blogPost{
    padding-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    &--addBrg{
        @include BrgImg ('../images/ourBlogthum1.jpg');
        height: 300px;
    }
    &--addBrg2{
        @include BrgImg ('../images/ourBlogthum2.jpg');
        height: 300px;
        @media (max-width:350px){
            margin-top: 70px;
        }
    }
    
    &__tip{
        margin-bottom: 20px;
        @include fontface($font-main-reg,12px,#a3a3a3,normal);
    }
    &__tittle{
        @include fontface($font-main-bold,18px,$Super-dark,normal);
    }
    &__author{
        margin: 10px 0 15px;
        @include fontface($font-main-italic,14px,$Super-dark,normal);
        span{
            color: $main-dark;
        }
    }
    &__descript{
        @include fontface($font-main-reg,14px,$Super-dark,normal);
        line-height: 23px;
    }
    span{
        @include fontface($font-main-bold,12px,$main-dark,normal);
    }
}
.btn--spinner{
    i{
        margin-right:5px;
    }
    a{
        text-decoration: none !important;
        color:inherit !important; 
    }
    margin-top: 17px;
    text-align: center;
    @include fontface($font-main-italic,12px,#a3a3a3,normal);
}

