header{
    height: 113px;
    line-height: 113px;
    a{
        text-decoration: none;
        @include fontface($font-main-reg,14px,#ffffff,normal);
    }
}

.header--colorfill{
    background-color: #222222;
    height: 113px;
}
.header__flexbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
nav{
    a{
        margin-left: 50px;
    }
}

.scn__Brg{
    width: 100%;
    height: 1290px;
    background-image: url('../images/HeadBrg.jpg');
    background-position: center;
    background-size: cover;
}
.header__mainlogo{
    margin-top: 240px;
    text-align: center;
    width: 100%;
}
.header__mainlogo--content1{
    @include fontface($font-Brush,30px,#ffffff,normal);
}
.header__mainlogo--content2{
    display: inline-block;
    margin: 20px;
    letter-spacing: 15px;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    @include fontface($font-main-bold,72px,#ffffff,normal);
}
.header__mainlogo--content3{
    letter-spacing: 2px;
    @include fontface($font-main-reg,14px,#ffffff,normal);
}
////////////////////@debug introduce restaurant
.scn__Introduce{
    .row{
        padding: 0 15px;
        .col-lg-4{
            padding: 0;
        }      
    }
}
.header__poster {
    position: relative;
    height: 780px;
    margin-top: -390px;
    padding-bottom: 35px;
    text-align: center;
    background-color: #313b4b;
    &:hover{
        z-index: 2;
        transform: scaleY(1.025);
        transition: all 0.5s ease;
        @include Boxshadow(0px 0px 16px 7px rgba(0,0,0,0.75));
        
    }
    img{
        width: 100%;
    }
    .post__viewfull{
        cursor: pointer;
        @include fontface($font-main-italic,14px,$main-dark,normal);
        i{
            margin-right: 5px; 
        }
    }
    .poster__line{
        width: 75%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%); 
        bottom: 35px;
    }
}
.poster__tag{
    height: 100px;
    line-height: 100px;
    @include fontface($font-Brush2,36px,#ffffff,normal);
}
.poster__info{
    span{
        color: $main-dark;
    }
    line-height: 23px;
    div{
        &:last-child{
            margin-bottom: 0;
        }
        margin-bottom: 20px;
    }
    padding: 30px 70px;
    text-align: center;
    @include fontface($font-main-reg,14px,#7b8189,normal);

}

.nav__hamburger{
    display: none;
    width: 60px;
    cursor: pointer;
    position: relative;
    height: 40px;
    margin: 35px 10px 20px 0px;
    float: right;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    border: none;
    background-color: transparent;
    span{
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background:$main-dark;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        @include Tranform(rotate(0deg));
        @include Transition(.25s ease-in-out);
        &:nth-child(1) {
            top: 0px;
             @include TranformOrigin(left center);
        }

        &:nth-child(2) {
        top: 14px;
        @include TranformOrigin(left center);
        }
        
        &:nth-child(3) {
        top: 28px;
        @include TranformOrigin(left center);
        }  
    }   
}
.open{
    span:nth-child(1){
        @include Tranform(rotate(45deg));
        top: -3px;
        left: 8px;

    }
    span:nth-child(2) {
        width: 0%;
        opacity: 0;
        }
        
    span:nth-child(3) {
    @include Tranform( rotate(-45deg));
    top: 39px;
    left: 8px;

    }
}
.nav__mobile{
    display: none;
    span{
        height: 65px;
        display: block;
        width: 100%;
    }
    width: 100%;
    z-index: 3;
    position: absolute;
    top:113px; 
    flex-direction: column;
    line-height: 65px;
    text-align: center;
    a{
        font-size: 20px;
        margin: 0;
    }
    background-color: rgba($color: $Super-dark, $alpha: 0.8);
}
.darken{
    background-color: rgba($color: #000000, $alpha: 0.8);
}


//////////////////////////////////////////////reponsive



@media (max-width:768px){
    .nav__hamburger{
        display: block;
    }
    .nav__desktop{
        display: none;
    }
    .header__flexbox{
        position: relative;
    }
    .header__mainlogo{
        margin-top: 100px;
    }
}

@include Responsive(SM){

    .header__poster{
        &--smMargin{
            margin-top: -150%;
        }
        img:not(.poster__line){
            width: 100%;
            height: 50%;
        }
        margin: 0 0 30px 0;
    }
}
@include Responsive(XS){
    .header__mainlogo{
        &--content2{
            font-size: 40px;
        }
    }
    .header__poster{
        &--smMargin{
            margin-top: -200%;
        }
        margin: 0 0 10px 0;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .scn__Brg{
        height: 900px;
    }
    .header__mainlogo{
        margin-top: 100px;
    }
    .poster__tag{
        @include txtDefine(50px,50px,normal);
    }
}
@media  (max-width:992px){

    .poster__tag{
        @include txtDefine(50px,50px,normal);
        font-size: 30px;
    }
    .poster__info{
        padding: 0 15px 15px 15px;
    }
    .header__poster{
        height: 620px;
    }
}
@media  (max-width:767px){
    .scn__Brg{
        height: 500px;
    }
    .header__poster{
        width: 80%;
        margin-top: 10px;
        left: 10%;
    }
    .poster__tag{
        @include txtDefine(50px,50px,normal);
    }
    .poster__info{
        padding: 0 15px 15px 15px;
    }
    .header__poster{
        height: 520px;
    }
    .discoverMenu{
        #DiscoverMenu__Img1{
            width: 80%;
            margin-left: 10%;
        }
        .discoverMenu__description{
            padding:10px 20px 20px;
        }
    }
}
@media(max-width:480px){
    .header__poster{
        height: 560px;
        @media (min-width:360px) {
            height: 600px;
        }
    }
    .poster__tag{
        @include txtDefine(40px,40px,normal);
        font-size: 30px;
    }
    .discoverMenu{
        .discoverMenu__description{
            padding:10px;
        }
        .bigTittle--lessMargin{
            font-size: 40px;
            line-height: 40px;
        }
    }
}
